*.pyc
*.ckpt
*.data-00000-of-00001
*.index
*.meta
model-*
*.tar
SRGAN-tensorflow/SRGAN_pre-trained/
SRGAN-tensorflow/vgg19/
.idea/
SRGAN-tensorflow/data/
SRGAN-tensorflow/result/
SRGAN-tensorflow/experiment*
